/*burgermenu start*/
/*

.hidden {
    transform: scale(0);
}
*/

body {
    margin: 0;
}

/*
#mySearch {
    width: 100%;
    font-size: 0.5em;
    padding: 8px;
    border: 1px solid #ddd;
    color: #387288;
    margin-bottom: 20px;
}
*/

#koldkrig_logo {
    background-image: url(/billeder_logo/koldkrig_menu_logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 22vw;
}

#stevns_logo {
    background-image: url(/billeder_logo/stevns_klint_menu_logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 22vw;
}

#geo_logo {
    background-image: url(/billeder_logo/geo_museum_menu_logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 22vw;
}

#nyeretid_logo {
    background-image: url(/billeder_logo/nyere_tid_menu_logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 22vw;
}

#kalkland_logo {
    background-image: url(/billeder_logo/kalklandet_menu_logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 22vw;
}


#menuknap {
    display: inline-block;
    position: fixed;
    right: 0em;
    font-size: 1.8em;
    top: 0em;
    padding: 0.7em;
    padding-top: 0.3em;
    color: white;
    z-index: 2;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 2rem;
    background-color: lightgray;
}

li:hover {
    cursor: pointer;
}

#menu a {
    text-decoration: none;
    color: white;
    line-height: 2.4rem;
    font-size: 1.1rem;
    padding: 1rem;
    font-family: 'limestone', sans-serif;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    cursor: pointer;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
    opacity: 1;
    /*    ELLER SCALE? KAKTUS DU HAR KODE TIL DET?*/
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    display: none;
    /*    overflow: hidden;*/
}

/*Sættes på den side/logo-billede man er på*/
.panel_open {
    display: block;
}

/*
.undermenu {
    position: absolute;
    top: 8em;
    right: 3em;
    margin: 2px;
    text-align: right;
}
*/

/*
.some-burger {
    position: relative;
    top: 40.5em;
    left: 5.8em;
}
*/

/*burgermenu slut*/
