/*Mobile grid*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;

}

/*Desktop grid*/

/*
@media only screen and (min-width: 480px) {

    .grid-container {
        display: grid;
        grid-row-gap: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 2.5fr 1fr;
    }

}
*/





.header {
    grid-row: 1;
    background-color: antiquewhite;
}

.attraktioner {
    grid-row: 2;
    background-color: lightsalmon;
}

.footer {
    grid-row: 3;
    background-color: lightsteelblue;
}
